*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(best-server-hosting-for-fivem.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo{
    position: absolute;
    width: 79px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}
img{
    width: 55px;
    position: relative;
}
container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4cm;
}
.passwd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 50vh;
    width: 80%;
    border-radius: 20px;
}
label{
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    position: relative;
    top: 15px;
}
input{
    padding: 10px;
    margin: 20px;
    border-bottom: 1px solid #000;
    border: none;
    background: transparent;
    border-bottom: 5px solid #fff;
    width: 50%;
    color: #fff;
    position: relative;
    top: 10px;
    outline: none;
}
button{
    border: none;
    background: none;
    height: 40px;
    position: relative;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 20px;
    top: 1px;
}
a{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    background: #282b30;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    top: 20px;
    position: relative;
}
